<% provide(:title, t(".title") ) %>
<h1><%= t".title"%></h1>
<p>
  <%= t".cnten1"%> <a href="http://www.railstutorial.org/"><em><%= t"cnten2" %></em></a> <%= t".cnten5"%>
  <a href="http://www.railstutorial.org/book"><%= t".cnten3"%></a><%= t".cnten4"%>
  <a href="http://screencasts.railstutorial.org/"><%= t".cnten6"%></a><%= t".cnten7"%>
  <a href="http://rubyonrails.org/"><%= t".cnten8"%></a><%= t".cnten9"%>
</p>
