<% provide(:title, t(".title")) %>
<h1><%= t".title"%></h1>
<p>
  <%= t".cnten1"%>
  <a href="http://www.railstutorial.org/help"><%= t".cnten2"%></a>.
  <%= t".cnten3"%>
  <a href="http://www.railstutorial.org/book"><em><%= t".cnten4"%></em>
  <%= t".cnten5"%></a>.
</p>
